* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body{
   
    
    
    background-color:white;
    margin: 0;
    
}


h1, h2 {
    font-family: "Playfair Display", serif;
}

body, nav {
    font-family: "Montserrat", sans-serif;
}

.hat {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 55px;

    padding: 0 30px;

    display: flex;
    align-items: center;

    background-color: deepskyblue;

    z-index: 1000;
}

.brand {
    display: flex;
    align-items: center;
    gap: 15px;
     font-family: "Montserrat", sans-serif;
}

.logo {
    width: 50px;
    height: 50px;
}

.brand h1 {
    margin: 0;
}

.nav {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 21px;
    margin-left: auto;
}

.nav a {
    color: black;
    text-decoration: none;
    transition: all .3s ease;
}

.nav a:hover{
    transform: scale(1.1);
    color: blueviolet;
}

.actividadesPage {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #E8F4F8;
    padding: 60px;
    box-shadow: 10px 10px 15px cornsilk;
    border-radius: 5px;

}

.head {
    text-align: center;
    margin-bottom: 60px;
    color: #062B45;
    
}

.nav a.active {
    color: #242fca;
    border-bottom: 2px solid #242fca;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}



.card {
    width: 400px;
    height: 500px;
    display: flex;
    background-color: turquoise;
    border-radius: 15px;
    padding: 15px    ;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 360px;
    height: 220px;
    margin: auto 0;
    padding-bottom: 10px;
    border-radius: 10px;
}

.card button {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 70px;
    border-radius: 25px;
    border: none;
    box-shadow: 0 5px 10px whitesmoke;
    
    font-size: 16px;
    background-color: whitesmoke;
    font-family: "Montserrat", sans-serif;
    color: rgb(0, 0, 0);
    transition: all .3s ease;

}

.card button:hover {
    transform: scale(1.05);
    filter: brightness(80%);
}



.actBut {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    text-decoration: none;
}

footer {
    background-color: #062B45;
    color: white;
    margin: auto 0;
    padding: 20px;
    margin-top: 40px;
}


 
.head1 {
    
    margin-top: 50px;
    background-image: url(paseito.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    width: auto;
    height: 800px;

    
}

.title {
    position: absolute;
    margin-left: 20px;
    margin-top: 40px;
    color:aqua;
    font-size: 21px;

}

.reserva {
    position: absolute;
    margin-top: 290px;
    margin-left: 20px;
    background-color:aqua;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 10px 10px#E8F4F8;
    
}

.reserva button {

    border: none;
    background-color: rgb(126, 194, 126);
    width: 70px;
    height: 35px;
    border-radius: 10px;
    transition: all .3s ease;
}

.reserva select {
    border: none;
    background-color: lightblue;
    width: 70px;
    height: 35px;
    border-radius: 10px;
}

.reserva button:hover {
    transform: scale(1.05);
    filter:brightness(50%)
}


.infocontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 75%;
    height: fit-content;
    padding: 20px;
    align-items: center;
    justify-content: center;
    gap: 100px;
    background-color: #062B45;
    border-radius: 15px;
    margin: auto;
    margin-top: 50px;
}

.incluye {
    display: block;
    background-color: aliceblue;
    padding: 15px;
    border-radius: 15px;
    width: 400px;
    height: 300px;
    
    
}

.expi {
    display: block;
    background-color:aliceblue ;    
    padding: 15px;
    border-radius: 15px;
    width: 400px;
    height: 300px;
    
    
}

.galery {
    display: grid;
    background-color:#062B45 ;    
    padding: 15px;
    padding-bottom: 25px;
    border-radius: 15px;
    width: 75%;
    height: fit-content;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    color: #E8F4F8;
    

    
    
}

.fotoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.slide {
    width: 600px;
    text-align: center;
}

.galleryImg {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 15px;
    display: block;
    transition: opacity 0.3s ease;
}

.galleryText {
    font-size: 20px;
    margin-top: 10px;
}

.prev,
.next {
    font-size: 40px;
    border: none;
    background-color: aliceblue;
    border-radius: 25px;
    cursor: pointer;
}

.galleryImg.fade {
    opacity: 0;
}
.info {
    display: block;
    background-color:aliceblue ;    
    padding: 15px;
    border-radius: 15px;
    width: 400px;
    height: 300px;
    
}    

.reserva1 {

    background-color:#062B45;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 10px 10px#E8F4F8;
    width: 75%;
    height: fit-content;
    padding-bottom: 40px;
    color: aliceblue;
    text-align: center;

    margin: auto;
    margin-top: 20px;



}

.reserva1 button {

    border: none;
    background-color: rgb(126, 194, 126);
    width: 70px;
    height: 35px;
    border-radius: 10px;
    transition: all .3s ease;
}


.reserva1 select {
    border: none;
    background-color: lightblue;
    width: 70px;
    height: 35px;
    border-radius: 10px;
}

.reserva1 button:hover {
    transform: scale(1.05);
    filter:brightness(50%)
}